<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WorkPortal</title>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
</head>
<body>
    <div class="box">
        <h1>Home</h1>
        <p>Welcome, <span th:text="${loggedInPerson.getName()}"></span></p>

        <!-- Logout -->
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>