<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WorkPortal</title>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
</head>
<body>
    <div class="box">
        <h1>Home</h1>
        <p>Welcome, <span th:text="${loggedInPerson.getName()}"></span>!</p>

        <!-- Section to display Person entity's name, username, and role -->
        <div class="information-to-display">
            <ul>
                <li><strong>Name: </strong><span th:text="${loggedInPerson.getName()}"></span></li>
                <li><strong>Username: </strong><span th:text="${loggedInPerson.getUsername()}"></span></li>
                <li><strong>Role: </strong><span th:text="${loggedInPerson.getRole()}"></span></li>
            </ul>
        </div>

        <div th:if="${loggedInPerson.getRole() == 'Manager'}" class="restricted-link-manager">
            <a href="#">Special</a>
        </div>
        <!-- Logout -->
        <form action="/" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>