<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Managerial Code of Conduct</title>
    <link rel="stylesheet" type="text/css" href="/static/css/managerial-code-of-conduct.css">
<body>
<div class="box">
    <a href="/home" class="back-link" th:text="#{managerialCodeOfConduct.back}">&#8592;</a>
    <h1 th:text="#{managerialCodeOfConduct.head}"></h1>

    <!-- Language Selection Dropdown-->
    <form th:action="@{/locale}" method="get">
        <label>
            <select name="language" onchange="this.form.submit()">
                <option value="en"  th:selected="${#locale.language == 'en'}" th:text="#{managerialCodeOfConduct.locale.en}"></option>
                <option value="fr" th:selected="${#locale.language == 'fr'}" th:text="#{managerialCodeOfConduct.locale.fr}"></option>
            </select>
        </label>
    </form>

    <!-- Error message for unsuccessful attempt to return to home page from managerial code of conduct page. -->
    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>

    <div class="requirements">
        <p th:text="#{managerialCodeOfConduct.description}"></p>
        <ul>
            <li><strong th:text="#{managerialCodeOfConduct.leadership}"></strong> <span th:text="#{managerialCodeOfConduct.leadershipText}"></span></li>
            <li><strong th:text="#{managerialCodeOfConduct.integrity}"></strong> <span th:text="#{managerialCodeOfConduct.integrityText}"></span></li>
            <li><strong th:text="#{managerialCodeOfConduct.communication}"></strong> <span th:text="#{managerialCodeOfConduct.communicationText}"></span></li>
            <li><strong th:text="#{managerialCodeOfConduct.respect}"></strong> <span th:text="#{managerialCodeOfConduct.respectText}"></span></li>
            <li><strong th:text="#{managerialCodeOfConduct.professionalism}"></strong> <span th:text="#{managerialCodeOfConduct.professionalismText}"></span></li>
            <li><strong th:text="#{managerialCodeOfConduct.growth}"></strong> <span th:text="#{managerialCodeOfConduct.growthText}"></span></li>
            <li><strong th:text="#{managerialCodeOfConduct.feedback}"></strong> <span th:text="#{managerialCodeOfConduct.feedbackText}"></span></li>
        </ul>
    </div>
</div>
</body>
</html>
