<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>WorkPortal</title>
    <link rel="stylesheet" type="text/css" href="/static/css/registration.css">
</head>
<body>
<div class="box">
    <a href="/" class="back-link">&#8592; Back</a>
    <h1>Registration</h1>

    <!-- Display of error message for unsuccessful registration -->
    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>

    <form action="/register" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required placeholder="Exactly 2 words, with each word consisting of at least 3 letters">
        </div>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required placeholder="Word with a minimum length of 5 characters">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required placeholder="At least 2 letters, 2 digits, and 1 special character">
        </div>
        <div>
            <label for="role">Role:</label>
            <select id="role" name="role" required>
                <option value="User">User</option>
                <option value="Manager">Manager</option>
            </select>
        </div>
        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>
