<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>WorkPortal</title>
    <link rel="stylesheet" type="text/css" href="/static/css/unavailable.css">
    <link rel="stylesheet" type="text/css" href="/static/css/error.css">
</head>
<body>
<div class="box">
    <h1>Page Unavailable</h1>

    <!-- Error message for unsuccessful login. -->
    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>

    <a href="/login"><h3>Login</h3></a>
    <a href="/registration"><h3>Register</h3></a>
</div>
</body>
</html>